@charset "UTF-8";


/* _article */
article {
  margin:  calc(1.0rem + 6.0vmin) 0 0 0;
  padding: 0 4.0vw 1.0rem 4.0vw;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  article {
    margin:  0 0 0 calc(8.0rem + 10vw);
    padding: 1.0rem;
  }
}

@media screen and (min-width: 1600px) {
  article {
    margin:  0 0 0 27.5vw;
    padding: 1.0rem 12.5vw 1.0rem 1.0rem;
    width:   100%;
  }
}

article > pre {
  background:  midnightblue;
  border-left: royalblue solid thick;
  color:       whitesmoke;
  padding:     0.5rem;
}

article > h1 {
  border-bottom: gray dotted medium;
  font-size:     2.0rem;
  padding:       0 0 0.1rem 0;
}

article > h2 {
  border-bottom: gray solid medium;
  display:       inline-block;
  font-size:     1.4rem;
  padding:       0 0 0.1rem 0;
  margin:        0.5rem;
}

article > h3 {
  font-size: 1.3rem;
  padding:   0 0 0 1.0rem;
}

article > h4 {
  font-size: 1.2rem;
  padding:   0 0 0 1.0rem;
}

article > h5 {
  font-size: 1.1rem;
  padding:   0 0 0 1.0rem;
}

article > h6 {
  font-size: 1.0rem;
  padding:   0 0 0 1.0rem;
}

article > .copyright {
  color:      grey;
  font-size:  small;
  text-align: center;
}

article > .time-stamp {
  color:      grey;
  font-size:  small;
  text-align: center;
}


/* _body */
body {
  background:    white;
  color:         #2f2f2f;
  display:       flex;
  flex-flow:     column wrap;
  margin:        0;
  overflow-wrap: break-word;
  overflow-x:    hidden;
  padding:       0;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  body {
    flex-flow: row wrap;
  }
}


/* _header */
header {
  background: whitesmoke;
  box-shadow: 0 0.1rem 0.1rem gray;
  display:    flex;
  flex-flow:  row wrap;
  height:     calc(1.0rem + 6.0vmin);
  position:   fixed;
  width:      100vw;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header {
    box-shadow:      0 0 0.2rem gray;
    flex-flow:       column nowrap;
    height:          100vh;
    justify-content: flex-start;
    overflow-y:      scroll;
    width:           calc(8.0rem + 10vw);
  }
}

@media screen and (min-width: 1600px) {
  header {
    padding: 0 0 0 12.5vw;
    width:   15.0vw;
  }
}

header > .main {
  display:   flex;
  flex-flow: row nowrap;
  height:    calc(1.0rem + 6.0vmin);
  margin:    0 4% 0 4%;
  width:     100%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > .main {
    height:    8.0rem;
    flex-flow: column;
    margin:    0 auto 0 auto;
  }
}

header > .main > .addon-title {
  color:       #4f4f4f;
  font-size:   calc(6.0vmin - 2.0rem);
  font-weight: bold;
  margin:      auto 0 auto 0;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > .main > .addon-title {
    font-size: 1.6rem;
    margin:    auto;
  }
}

header > .main > .shortcut {
  margin: auto 0 auto auto;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  header > .main > .shortcut {
    display: none;
  }
}

header > .main > .shortcut:hover {
  background: lightgray;
}

header > .main > .shortcut > a > .icon {
  height: calc(6.0vmin - 0.5rem);
  width:  calc(6.0vmin - 0.5rem);
}

header > .main > .shortcut > div > .icon {
  height: calc(6.0vmin - 0.5rem);
  width:  calc(6.0vmin - 0.5rem);
}


/* _navigation-menu */
nav {
  background: whitesmoke;
  box-shadow: 0 0.1rem 0.1rem gray;
  flex-flow:  column wrap;
  max-height: 0;
  overflow-y: scroll;
  padding:    0 4.0vw 0 4.0vw;
  text-align: center;
  width:      100%;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav {
    box-shadow: none;
    overflow-y: visible;
    max-height: auto;
    padding:    0 0.5rem 0 0.5rem;
    text-align: start;
    width:      auto;
  }
}

nav > ul {
  list-style-type: none;
  padding:         0;
}

nav > ul > a {
  color:           #2f2f2f;
  text-decoration: none;
}

nav > ul > .menu-heading {
  display:     inline-block;
  font-size:   1.3rem;
  font-weight: bold;
  margin:      0 0 0.5rem 0;
}

nav > ul > a > .item {
  background:      white;
  box-shadow:      0 0 0.1rem #2f2f2f;
  display:         flex;
  justify-content: center;
  padding:         1.0rem 0.5rem 1.0rem 0.5rem;
}

nav > ul > a > .item:hover {
  background: lightgray;
}

@media screen and (min-aspect-ratio: 4 / 3) {
  nav > ul > a > .item {
    background:      whitesmoke;
    box-shadow:      none;
    justify-content: start;
    padding:         0.5rem;
  }
}

nav > ul > a > .item > .icon {
  height: 1.4rem;
  width:  1.4rem;
}

nav > ul > a > .item > li {
  font-size: 1.2rem;
  padding:   0 0 0 0.5rem;
}


/* option page */
article > .addon-version {
  color:      grey;
  font-size:  small;
  text-align: center;
}

article > .function-tile {
 border:  lightgray solid thin;
 padding: 0.5rem;
 margin:  1.0rem 0 1.0rem 0;
}

article > .function-tile > form > div {
  margin: 0.5rem 0 0.5rem 0;
}

article > .function-tile > h2 {
  border-bottom: gray solid medium;
  display:       inline-block;
  font-size:     1.4rem;
  padding:       0 0 0.1rem 0;
  margin:        0.5rem;
}

article > .function-tile > h3 {
  font-size: 1.3rem;
  margin:    0.5rem 0 0.5rem 0;
}

article > .function-tile > .description-text {
  color:     dimgray;
  font-size: 0.9rem;
}

article > .function-tile > form.for-tile {
  display:         flex;
  justify-content: center;
}

article > .function-tile > form > label.tile {
  box-shadow: 0 0 0.1rem #2f2f2f;
  display:    block;
  padding:    0.5rem;
  margin:     0.5rem;
  width:      50%;
}

article > .function-tile > form > .list-bing {
  display:         none;
  justify-content: center;
}

article > .function-tile > form > .list-bing > .tile {
  box-shadow: 0 0 0.1rem #2f2f2f;
  padding:    0.5rem;
  margin:     0.5rem;
  width:      25%;
}

article > .function-tile > form > .list-bing > .tile > label {
  display: block;
  padding: 0.5rem;
  width:   100%;
}

article > .function-tile > form > .list-google {
  display:         none;
  justify-content: center;
}

article > .function-tile > form > .list-google > .tile {
  box-shadow: 0 0 0.1rem #2f2f2f;
  padding:    0.5rem;
  margin:     0.5rem;
  width:      25%;
}

article > .function-tile > form > .list-google > .tile > label {
  display: block;
  padding: 0.5rem;
  width:   100%;
}


/* guide page*/
.text-bold {
  font-weight: bold;
}

.guide-setup-link {
  display:    block;
  text-align: center;
}

.guide-setup-thumbnail {
  width: 50vmin;
}