@charset "UTF-8";

html, body {
  background: whitesmoke;
  margin:     0;
  padding:    0;
}

/* _accordion-menu */
input.checkbox-area {
  display: none;
}

input.checkbox-area:checked + label.menu-button + .accordion-menu {
  display:    flex;
  flex-flow:  column;
}

.accordion-menu {
  background: #3f3f3f;
  box-shadow: 0 0 2px #2f2f2f;
  display:    none;
  padding:    0 4.0vw 0 4.0vw;
  overflow-y: scroll;
  width:      100%;
}

@media screen and (min-width: 1200px) {
  .accordion-menu {
    background: #2f2f2f;
    display:    flex;
    flex-flow:  column nowrap;
    overflow-y: visible;
    padding:    0 1.0rem 0 1.0rem;
    width:      auto;
  }
}

.accordion-menu .items {
  border-top: dimgray solid thin;
  padding:    0.5rem 1.0rem 0.5rem 1.0rem;
}

.accordion-menu .items:hover {
  background: gray;
}

.accordion-menu .list {
  color:       lightgray;
  font-weight: bold;
  padding:     0.5rem 0 0.5rem 0;
}

.accordion-menu .link {
  color: whitesmoke
}

.menu-button {
  align-items:     center;
  display:         flex;
  height:          3.0rem;
  justify-content: center;
  width:           10.0rem;
}

@media screen and (min-width: 1200px) {
  .menu-button {
    flex:    0 1;
    margin:  3.0rem auto 3.0rem auto;
    width:   auto;
  }
}

.menu-button:hover {
  text-decoration: underline;
}


/* _article */
article {
  background: white;
  box-shadow: 0 0 2px #2f2f2f;
  color:      #2f2f2f;
  padding:    4.0rem 4.0vw 3.0rem 4.0vw;
}

@media screen and (min-width: 1200px) {
  article {
    margin-left: 288px;
    padding:     1.0rem 1.0rem 1.0rem 1.0rem;
    width:       100%;
  }
}

@media screen and (min-width: 1920px) {
  article {
    margin-left: 15.0vw;
  }
}

article pre {
  background: whitesmoke;
  border:     lightgray solid medium;
  padding:    0.5rem;
}

article h1 {
  display:     flex;
  flex-flow:   row nowrap;
  font-size:   1.6rem;
}

article h2 {
  border-left:  dimgray solid medium;
  border-top:   dimgray solid medium;
  font-size:    1.5rem;
  padding:      0.5rem 0 0 0.5rem;
}

article h3 {
  border-left:  dimgray solid thick;
  padding-left: 0.5rem;
  font-size:    1.4rem;
}

article h4 {
  font-size: 1.3rem;
}

article h5 {
  font-size: 1.2rem;
}

article h6 {
  font-size: 1.1rem;
}

article .document-icon {
  height: 1.6rem;
  width:  1.6rem;
}

article .end-border-dotted {
  border-color: dimgray;
  border-style: dotted;
  border-width: thin;
  margin:       0.5rem auto 0.5rem auto;
  width:        90%;
}

article .page-title {
  padding-left: 0.5rem;
}

article .time-stamp {
  font-size:  0.7rem;
  text-align: right;
}


/* _global */
.global {
  display:       flex;
  flex-flow:     column wrap;
  overflow-wrap: break-word;
  overflow-x:    hidden;
}

@media screen and (min-width: 1200px) {
  .global {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 1440px) {
  .global {
    box-shadow: 0 0 2px #2f2f2f;
    margin:     0 auto 0 auto;
    width:      1440px;
  }
}

@media screen and (min-width: 1920px) {
  .global {
    margin: 0 12.5vw 0 12.5vw;
    width:  auto;
  }
}


/* _header */
header {
  background:      #2f2f2f;
  box-shadow:      0 0 1px 0 #2f2f2f;
  color:           whitesmoke;
  display:         flex;
  flex-flow:       row wrap;
  justify-content: center;
  height:          3.0rem;
  position:        fixed;
  width:           100%;
}

@media screen and (min-width: 1200px) {
  header {
    bottom:          auto;
    flex-flow:       column nowrap;
    height:          100vh;
    justify-content: flex-start;
    overflow-y:      scroll;
    width:           288px;
  }
}

@media screen and (min-width: 1920px) {
  header {
    width: 15.0vw;
  }
}

header .addon-title {
  color:       whitesmoke;
  font-size:   1.2rem;
  font-weight: bold;
  padding:     0 0.5rem 0 0.5rem;
  white-space: nowrap;
}

header .menu-icon {
  height: 1.2rem;
  width:  1.2rem;
}

@media screen and (min-width: 1200px) {
  header .menu-icon {
    display: none;
  }
}


/* option page */
article .addon-version {
  font-size:  0.8rem;
  text-align: right;
}

article .text-bold {
  font-weight: bold;
}

article .description-text {
  color:     dimgray;
  font-size: 0.9rem;
}


/* guide page*/
.guide-setup-link {
  text-align: center;
}

.guide-setup-thumbnail {
  width: 40%;
}