@charset "UTF-8";

/**
 * _body.scss
 */
 body {
	background:    rgb(255, 255, 255);
  color:         rgb(31, 31, 31);
  display:       flex;
  flex-flow:     column;
  height:        100vh;
  margin:        0;
  overflow-wrap: break-word;
  overflow-x:    hidden;
  padding:       0;
}

body a {
  text-decoration: none;
}

/**
 * _footer.scss
 */
footer {
  background:  rgb(63, 63, 63);
  box-sizing:  border-box;
  box-shadow:  0 0 2px rgb(63, 63, 63);
  color:       rgb(255, 255, 255);
  display:     flex;
  align-items: center;
  flex-flow:   column;
  padding:     1.0rem;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  footer {
    background: rgb(255, 255, 255);
    box-shadow: none;
    color:      rgb(31, 31, 31);
    margin:     0 0 0 30%;
    width:      60%;
  }
}

footer > div.item {
  font-size: small;
  padding:   0.5rem;
}

/**
 * _header.scss
 */
header {
  background: rgb(239, 239, 239);
  box-shadow: 0 0 2px rgb(63, 63, 63);
  display:    flex;
  flex-flow:  row wrap;
  height:     4.0rem;
  overflow-y: visible;
  position:   fixed;
  transition: height 200ms ease-out 0ms;
  width:      100%;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  header {
    flex-flow:  column;
    height:     100vh;
    overflow-y: scroll;
    padding:    0 0 0 10%;
    position:   fixed;
    transition: none;
    width:      20%;
  }
}

header > section.primary {
  box-sizing:      border-box;
  display:         flex;
  flex-flow:       row;
  height:          4.0rem;
  justify-content: space-between;
  width:           100%;
}

header > section.primary > .website-title {
  color:       rgb(63, 63, 63);
  font-size:   1.6rem;
  font-weight: bold;
  margin:      auto;
}

header > section.primary > .operation-button-left {
  align-items:     center;
  border-right:    rgb(127, 127, 127) solid thin;
  box-sizing:      border-box;
  color:           rgb(63, 63, 63);
  display:         flex;
  flex-flow:       column;
  justify-content: center;
  width:           25%;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  header > section.primary > .operation-button-left {
    display: none;
  }
}

header > section.primary > .operation-button-left > img {
  height: 3.0rem;
  width:  3.0rem;
}

header > section.primary > .operation-button-left > img:hover {
  background: rgb(207, 207, 207);
}

header > section.primary > .operation-button-left > span {
  font-weight: bold;
}

header > section.primary > .operation-button-right {
  align-items:     center;
  border-left:     rgb(127, 127, 127) solid thin;
  box-sizing:      border-box;
  color:           rgb(63, 63, 63);
  display:         flex;
  flex-flow:       column;
  justify-content: center;
  width:           25%;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  header > section.primary > .operation-button-right {
    display: none;
  }
}

/**
 * _main.scss
 */
main {
  box-sizing: border-box;
  padding:    4.0rem 2.0rem 4.0rem 2.0rem;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  main {
    margin:  0 0 0 30%;
    padding: 0 1.0rem 0 1.0rem;
    width:   60%;
  }
}

main h1 {
  font-size:  2.0rem;
  text-align: center;
}

main h2 {
  border-bottom: rgb(207, 207, 207) solid thin;
  font-size:     1.6rem;
  margin:        1.0rem 0 0.5rem 0.5rem;
  padding:       0 0 0.2rem 0rem;
}

main h3 {
  font-size: 1.3rem;
  margin:    0.5rem 0 0 0;
  padding:   0 0 0 1.0rem;
}

main h4 {
  font-size: 1.2rem;
  padding:   0 0 0 1.0rem;
}

main h5 {
  font-size: 1.1rem;
  padding:   0 0 0 1.0rem;
}

main h6 {
  font-size: 1.0rem;
  padding:   0 0 0 1.0rem;
}

/**
 * _nav.menu.scss
 */
nav.menu {
  background:   rgb(239, 239, 239);
  box-shadow:   0 0 2px rgb(63, 63, 63);
  margin:       0.5rem auto 0 2.0rem;
  height:       0px;
  overflow-y:   scroll;
  transition:   height 200ms ease-out 0ms;
  width:        60%;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  nav.menu {
    box-shadow: none;
    height:     100%;
    margin:     0;
    overflow-y: visible;
    transition: none;
    width:      auto;
  }
}

nav.menu > div.categories {
  display:   flex;
  flex-flow: column;
  padding:   0 1.0rem 0 1.0rem;
}

nav.menu > div.categories > ul {
  box-sizing:      border-box;
  flex:            0 1 100%;
  list-style-type: none;
  margin:          0;
  padding:         0;
}

nav.menu > div.categories > ul > a.item {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(63, 63, 63);
  color:      rgb(31, 31, 31);
  display:    flex;
  margin:     0.5rem 0 0.5rem 0;
  padding:    1.0rem 0.5rem 1.0rem 0.5rem;
  transition: background 200ms ease-out 0ms;
}

nav.menu > div.categories > ul > .item:hover {
  background: rgb(223, 223, 223);
}

nav.menu > div.categories > ul > a.item > img {
  height: 1.5rem;
  width:  1.5rem;
}

nav.menu > div.categories > ul > a.item > li {
  font-size: 1.2rem;
  padding:   0 0 0 0.5rem;
}

nav.menu > p {
  text-align: center;
}

@media screen and ( min-aspect-ratio: 4/3 ) {
  nav.menu > p {
    display: none;
  }
}

/**
 * option page
 */
div.inputNotificationArea {
  background: rgb(239, 239, 239);
  bottom:     1.0rem;
  box-shadow: 0 0 2px rgb(63, 63, 63);
  color:      rgb(63, 63, 63);
  display:    none;
  padding:    1.0rem;
  position:   fixed;
  right:      1.0rem;
}

div.inputNotificationArea > span {
  display: inline-block;
}

 header > section.primary > .addon-title {
  color:       rgb(63, 63, 63);
  font-size:   1.6rem;
  font-weight: bold;
  margin:      auto;
}

main > section.tile {
  box-shadow: 0 0 2px rgb(63, 63, 63);
  box-sizing: border-box;
  margin:     1.0rem;
  padding:    0.5rem;
}

main > section.tile > p.description-text {
  color:     rgb(95, 95, 95);
  font-size: 0.9rem;
}

main > section.tile > form.language-code > div {
  box-sizing:      border-box;
  display:         flex;
  flex-flow:       row;
  justify-content: center;
}

main > section.tile > form.language-code > div > .tile {
  flex:    1 1 25%;
  padding: 0.5rem;
}

main > section.tile > form.language-code > div > .tile > label {
  background: rgb(255, 255, 255);
  display:    block;
  padding:    0.5rem;
  transition: background 200ms ease-out 0ms;
}

main > section.tile > form.language-code > div > .tile > label:hover {
  background: rgb(223, 223, 223);
}

main > section.tile > form.specifySize {
  padding: 0 0.5rem 0 0.5rem;
}

main > section.tile > form.specifySize > label.checkbox {
  display: inline-block;
  margin:  0.5rem 0 0.5rem 0;
}

main > section.tile > form.specifySize > div.inputSize {
  font-size: large;
}

main > section.tile > form.specifySize > div.inputSize > input {
  font-size: large;
}

main > section.tile > form.two-choices {
  box-sizing:      border-box;
  display:         flex;
  flex-flow:       row;
  justify-content: center;
}

main > section.tile > form.two-choices > label {
  align-items:   center;
  background:    rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow:    0 0 2px rgb(127, 127, 127);
  box-sizing:    border-box;
  display:       flex;
  flex:          0 0 calc(50% - 1.0rem);
  height:        3.0rem;
  margin:        0.5rem;
  transition:    background 200ms ease-out 0ms;
}

main > section.tile > form.two-choices > label:hover {
  background:  rgb(223, 223, 223);
}

main > section.tile > form.two-choices > label > input {
  margin: 0 0.5rem 0 0.5rem;
}

/**
 * guide page
 */
div.timestamp {
  font-size:  small;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.guide-setup-link {
  display:    block;
  text-align: center;
}

.guide-setup-thumbnail {
  border-radius: 8px;
  box-shadow:    0 0 0.1rem rgb(63, 63, 63);
  padding:       0.5rem;
  width:         50%;
}
