body
{
  background: #e0e0e0;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.border-solid
{
  border-style: solid;
  border-color: gray;
  border-width: 1px 0;
  margin: 0.5rem auto 0.5rem auto;
}

.border-dotted
{
  border-color: gray;
  border-style: dotted;
  border-width: 1px 0px;
  margin: 0.5rem auto 0.5rem auto;
  width: 90%;
}

.global
{
  display: flex;
  flex-flow: column wrap;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

@media screen and (min-width: 1080px)
{
  .global
  {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 1440px)
{
  .global
  {
    box-shadow: 0 0 2px #2f2f2f;
    margin: 0 auto 0 auto;
    width: 1440px;
  }
}

@media screen and (min-width: 1920px)
{
  .global
  {
    margin: 0 12.5vw 0 12.5vw;
    width: auto;
  }
}

header
{
  background: #2f2f2f;
  box-shadow: 0 0 2px #2f2f2f;
  color: #e8e8e8;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  height: 4.0rem;
  padding: 0 4.0vw 0 4.0vw;
  position: fixed;
  width: 100%;
}

@media screen and (min-width: 1080px)
{
  header
  {
    flex-flow: column wrap;
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
    width: 320px;
  }
}

div.addon-title
{
  color: #e8e8e8;
  margin: auto 0 auto 0;
}

@media screen and (min-width: 1080px)
{
  div.addon-title
  {
    margin: 3.0rem auto 3.0rem auto;
  }
}

div.border-solid-header
{
  display: none;
}

@media screen and (min-width: 1080px)
{
  div.border-solid-header
  {
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0 auto 0 auto;
    width: 80%;
  }
}

div.menu
{
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 1080px) {
  div.menu
  {
    background: #2f2f2f;
    flex-flow: column wrap;
  }
}

div.menu-item
{
  padding: 0 0.5rem 0 0;
}

@media screen and (min-width: 1080px)
{
  div.menu-item
  {
    padding: 0 0.5rem 0 1.0rem;
  }
}

.menu-list-title
{
  color: #b8b8b8;
  font-weight: bold;
  padding: 0 0.5rem 0 0;
}

@media screen and (min-width: 1080px)
{
  .menu-list-title
  {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

a.menu-link
{
  color: #e8e8e8;
}

a.menu-link:hover
{
  background: #808080;
}

h2
{
  font-size: 1.3rem;
}

h3
{
  border-left: 0.5rem solid #a0a0a0;
  font-size: 1.1rem;
}

.headline3-text
{
  padding: 0 0 0 0.5rem;
}

h4
{
  font-size: 1.0rem;
}

.main
{
  background: #ffffff;
  color: #2f2f2f;
  margin: 4.0rem 0 0 0;
  padding: 0 4.0vw 0 4.0vw;
}

@media screen and (min-width: 1080px)
{
  .main
  {
    margin: 0 0 0 320px;
    padding: 0 1.0rem 0 1.0rem;
    width: 100%;
  }
}

p.addon-version
{
  font-size: 0.7rem;
  text-align: right;
}

p.date-info
{
  font-size: 0.7rem;
  text-align: right;
}

.text-bold
{
  font-weight: bold;
}

.guide-setup-link
{
  text-align: center;
}

.guide-setup-thumbnail
{
  width: 40%;
}