
.BG-dddddd
{
  color: #000000;
  background-color: #dddddd;
}

.descriptionText
{
  font-size: 92%;
  color: #696969;
}

.hr1px1em
{
  border: 1px #dddddd solid;
  margin-left: 1em;
  margin-right: 1em;
}
